a { font-weight:normal; }
.pv-wrapper { border: 1px solid #D3D4D4; background:#F5F7F9; font-family: 'Segoe UI', Tahoma, Arial, Helvetica, Sans-Serif; font-size:8pt; font-weight:normal; -webkit-tap-highlight-color: rgba(0,0,0,0); }
.pv-loading { width:89px; height:66px; font-family: Tahoma, Sans-Serif; position:absolute; }
.pv-loading span { position: absolute; top:66px; left:23px; }
.pv-toolbarpanel { height: 22px; width: 100%; border-bottom: 1px solid #D3D4D4; padding: 3px 0px 3px 0px; background: #FDFDFD; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FDFDFD', endColorstr='#F4F4F4');  background: -webkit-gradient(linear, left top, left bottom, from(#FDFDFD), to(#F4F4F4));  background: -moz-linear-gradient(top,  #FDFDFD,  #F4F4F4); white-space:nowrap}
.pv-toolbarpanel-brandimage { height: 22px; float:left; }
.pv-toolbarpanel-facetbreadcrumb { margin-top:5px; margin-left:5px; float:left; white-space: nowrap; overflow: hidden; text-overflow:ellipsis}
.pv-toolbarpanel-facetbreadcrumb-facet { margin-left: 5px; color:#787676; }
.pv-toolbarpanel-facetbreadcrumb-values { margin-left:3px; color: #05314A; }
.pv-toolbarpanel-facetbreadcrumb-separator { margin-left: 5px; color:#787676; }
.pv-toolbarpanel-name { float:left; margin-top:5px; margin-left:4px; color:#05314A; }
.pv-toolbarpanel-zoomcontrols { float: right; width:146px; height:20px; margin-right:4px; border: 1px solid #D3D4D4; }
.pv-toolbarpanel-zoomslider { margin: 6px 10px 0px 10px; }
.pv-toolbarpanel-maplegend { margin-top:5px; margin-left:4px; color:#05314A; }
.pv-toolbarpanel-viewcontrols { float: right; margin-right:5px; height:20px; }
.pv-toolbarpanel-view { height:20px; border:1px solid #D3D4D4; float:left; cursor:pointer; }
.pv-toolbarpanel-sortcontrols { float: right; margin-right:5px; }
.pv-toolbarpanel-sort { width: 90px; }
.pv-mainpanel { height: 659px; }
.pv-filterpanel { position:absolute; z-index:30; margin-left:5px; margin-top:5px; width: 183px; padding: 0px 3px 0px 3px; background:#FEFEFE; border: 1px solid #C5C5C5; -moz-border-radius: 3px; border-radius: 3px; -moz-box-shadow: 0 0 2px 2px #D7D9DA; -webkit-box-shadow: 0 0 2px 2px #D7D9DA; box-shadow: 0 0 2px 2px #D7D9DA; }
.pv-filterpanel-version { color:#E2E2E2; font-size: 8pt; float:left; height:24px; width:180px; margin-top: 3px; margin-bottom: 3px; padding: 4px 4px 4px 4px;}
.pv-filterpanel-clearall { width:56px; margin-top: 3px; padding: 4px 4px 4px 4px; float:right; cursor:pointer; color:#97A8B2; background-image: url('../images/FilterPanelClear.png'); background-position	: right center; background-repeat: no-repeat; visibility:hidden; }
.pv-filterpanel-clearall:hover { background-color:#CBE4F0; }
.pv-filterpanel-search { margin-top: 9px; margin-bottom:0px; height:24px; border:1px solid #E2E2E2; }
.pv-filterpanel-search:-webkit-input-placeholder { color:#787676; font-style:italic; font-size:9pt; }
.pv-filterpanel-search:-moz-placeholder { color:#787676; font-style:italic; font-family: 'Segoe UI', Tahoma, Arial, Helvetica, Sans-Serif; font-size:9pt; }
.pv-filterpanel-search-autocomplete {height: 150px; overflow-y: scroll; overflow-x: hidden; position:absolute; z-index:10; background-color: #FFF; border:1px solid #E2E2E2; margin-right:3px; padding: 3px;}
.pv-filterpanel-search-autocomplete span { float:left; width:100%; }
.pv-filterpanel-search-autocomplete span:hover { cursor:pointer; background-color:#CBE4F0; }
.pv-filterpanel-accordion-facet-sort { background-color: #DCECF4; color: #4F7192; margin-left:4px; padding: 0px 2px 0px 2px; cursor:default; }
.pv-filterpanel-accordion-facet-sort:hover { background-color: #BDDFEE; }
.pv-facet-facetitem { float:left; }
.pv-facet-facetitem-label { font-size:8pt; margin-top:3px; position:absolute; left:20px; width:500px; cursor:default; }
.pv-facet-facetitem-label:hover { background-color: #DCECF4; }
.pv-facet-facetitem-count { margin-top:3px; color:#A8A9AA; position:absolute; right:0px; padding-right:5px; padding-left:25px; background-image: url('../images/CountGradient.png'); background-position: 5px 50%; background-repeat:repeat-y;  }
.pv-facet-customrange-label { font-size:8pt; margin-top:3px; position:absolute; left:20px; cursor:default; }
.pv-facet-customrange { width:70px;height:12px;margin:0 3px 3px 0; }
.pv-filterpanel-accordion-heading-clear { width:11px; position:absolute; top:6px; right:5px; background-image: url('../images/FilterPanelClear.png'); background-position: center center; background-repeat: no-repeat; cursor:pointer; visibility:hidden; }
.pv-filterpanel-accordion-facet-list { margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px; list-style:none; }
.pv-filterpanel-accordion-facet-list-item { clear: both; white-space: nowrap; }
.pv-modal-dialog {
	position: fixed;
	font-family: Arial, Helvetica, sans-serif;
	top: 10000;
	right: 10000;
	bottom: 10000;
	left: 10000;
	z-index: 99999;
	opacity:0;
	pointer-events: none;
}
.pv-modal-dialog:target { 
	opacity:1;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	pointer-events: auto;
	background: rgba(0,0,0,0.8);
}
.pv-modal-dialog > div { width: 300px; position: relative;margin: 10% auto;padding: 5px 20px 13px 20px;border-radius: 10px;background: #fff;background: -moz-linear-gradient(#fff, #999);background: -webkit-linear-gradient(#fff, #999);background: -o-linear-gradient(#fff, #999);background: -ms-linear-gradient(#fff, #999);}
.pv-modal-dialog-close {
	background: #606061;
	color: #FFFFFF;
	line-height: 25px;
	position: absolute;
	right: -12px;
	text-align: center;
	top: -10px;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
}
.pv-modal-dialog-close:hover { background: #00d9ff; }
.pv-viewpanel { position:absolute; }
.pv-viewpanel-view { display:none; }
.pv-viewpanel-unabletodisplay { margin-top:60px; margin-left:60px; }
.pv-filterpanel-accordion { overflow-y:auto; overflow-x:hidden; margin-top:6px; }
.pv-infopanel { position: absolute; z-index:30; width: 182px; margin-top:5px; padding: 8px 8px 8px 8px; background:#FEFEFE; border: 1px solid #C5C5C5; -moz-border-radius: 3px; border-radius: 3px; -moz-box-shadow: 0 0 2px 2px #D7D9DA; -webkit-box-shadow: 0 0 2px 2px #D7D9DA; box-shadow: 0 0 2px 2px #D7D9DA; }
.pv-infopanel-controls { margin-bottom:7px; float :left; clear:both; }
.pv-infopanel-controls-navleft { height: 10px; width: 10px; background-image: url('../images/InfoPanelLeft.png'); float: left; cursor:pointer; }
.pv-infopanel-controls-navleftdisabled { height: 10px; width: 10px; background-image: url('../images/InfoPanelLeftDisabled.png'); float: left; cursor:pointer; }
.pv-infopanel-controls-navbar { height: 10px; width: 0px; border-left: 1px solid #C8CFD3; margin-left:8px; float: left; }
.pv-infopanel-controls-navright { height: 10px; width: 10px; margin-left:8px; background-image: url('../images/InfoPanelRight.png'); float: left; cursor:pointer;}
.pv-infopanel-controls-navrightdisabled { height: 10px; width: 10px; margin-left:8px; background-image: url('../images/InfoPanelRightDisabled.png'); float: left; cursor:pointer;}
.pv-infopanel-heading { font-size: 12pt; float:left; clear:both;word-break: break-all;}
.pv-infopanel-details { margin-top: 15px; float: left; clear:both; width:181px; overflow-y:auto; overflow-x:hidden;}
.pv-infopanel-detail-description { margin-bottom:5px; overflow:hidden; }
.pv-infopanel-detail-description-more { background-color: #DCECF4; color: #4F7192; cursor:default; padding:5px 3px 5px 3px; margin-bottom:5px; width:28px; }
.pv-infopanel-detail-description-more:hover { background-color: #BDDFEE; }
.pv-infopanel-detail { padding: 4px 3px 4px 3px;}
.pv-infopanel-related { color:#E2E2E2; font-size: 8pt; float:left; clear:both; position:relative; bottom:0;}
.pv-infopanel-copyright { color:#E2E2E2; font-size: 8pt; float:left; clear:both; position:absolute; bottom:0;}
.detail-dark { background-color: #E0E1E2; }
.detail-light { background-color: #EEEFF0; }
.detail-item-title { color: #05314A; margin-bottom	:5px; }
.detail-item-value { color: #484848; padding:2px 0px 2px 0px; } 
.detail-item-value-filter { color:#36A3D8; cursor:default; }
.detail-item-value-filter:hover { background-color:#C9DFEA; }
.detail-item-link { color:#36A3D8; text-decoration:none; }
/* View common */
.pv-viewarea-canvas { position: absolute; z-index: 20; }
/* Graph View */
.pv-viewarea-graphview { position: absolute; top:0px; left:0px; z-index: 2; }
.pv-viewarea-graphview-overlay { position: absolute; top: 0px; width: 100%; height: 100%; z-index: 1; }
.pv-viewarea-graphview-overlay-bucket { height: 100%; position:absolute; top:0px;}
.pv-viewarea-graphview-overlay-buckettitle { height: 50px; background-color:#F5F5F5; position: relative; text-align:center; border: 1px solid #D3D4D4; cursor: default; overflow:hidden; text-overflow:ellipsis; white-space:nowrap;z-index: 25;}
.graphview-bucket-dark { background-color: #E6E8ED; }
.graphview-bucket-light { background-color: #EBEDF1; }
.graphview-bucket-hover { background-color: #DCECF4; }
.pv-tableview-table { position: absolute; top:0px; left:193px; padding: 0px 3px 0px 3px; display:none; overflow-y: auto; margin-top:5px; margin-left:5px;}
.pv-tableview-odd-row { background-color: #EBEDF1;}
.pv-tableview-even-row { background-color: #F0F2F5;}
.pv-tableview-heading { background: #E0E0FD; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#DDDDDD', endColorstr='#D4D4D4');  background: -webkit-gradient(linear, left top, left bottom, from(#DDDDDD), to(#D4D4D4));  background: -moz-linear-gradient(top,  #DDDDDD,  #D4D4D4); cursor:pointer;}
.pv-tableview-odd-row:hover { background-color:#CBE4F0; }
.pv-tableview-even-row:hover { background-color:#CBE4F0; }
.pv-mapview-canvas { position: absolute; top:0px; left:193px; padding: 0px 3px 0px 3px; display:none; overflow-y: auto; margin-top:5px; margin-left:5px;}
.pv-mapview-legend { position: absolute; z-index:30; width: 182px; margin-top:5px; display:none; padding: 8px 8px 8px 8px; background:#FEFEFE; border: 1px solid #C5C5C5; -moz-border-radius: 3px; border-radius: 3px; -moz-box-shadow: 0 0 2px 2px #D7D9DA; -webkit-box-shadow: 0 0 2px 2px #D7D9DA; box-shadow: 0 0 2px 2px #D7D9DA; }
.pv-legend-heading { color: #05314A; width: 80%; font-size: 12px; float:left; padding: .5em .5em .5em .7em; overflow: hidden; text-overflow: ellipsis; font-weight:normal;}
.pv-timeview-canvas { position: absolute; top:0px; left:193px; padding: 0px 3px 0px 3px; display:none; overflow-y: auto; margin-top:5px; margin-left:5px;}
/*
 * jQuery UI CSS Framework 1.8.16
 *
 * Copyright 2011, AUTHORS.txt (http://jqueryui.com/about)
 * Dual licensed under the MIT or GPL Version 2 licenses.
 * http://jquery.org/license
 *
 * http://docs.jquery.com/UI/Theming/API
 *
 * To view and modify this theme, visit http://jqueryui.com/themeroller/
 */
/* Component containers
----------------------------------*/
.ui-widget-content { background: #ffffff/*{bgColorContent}*/ 50%/*{bgContentXPos}*/ 50%/*{bgContentYPos}*/ repeat-x/*{bgContentRepeat}*/; color: #222222/*{fcContent}*/; }
.ui-widget-content a { color: #222222/*{fcContent}*/; }
.ui-widget-header { border: 1px solid #aaaaaa/*{borderColorHeader}*/; background: #cccccc/*{bgColorHeader}*/ 50%/*{bgHeaderXPos}*/ 50%/*{bgHeaderYPos}*/ repeat-x/*{bgHeaderRepeat}*/; color: #222222/*{fcHeader}*/; font-weight: bold; }
.ui-widget-header a { color: #222222/*{fcHeader}*/; }
/*
 * jQuery UI Accordion 1.8.16
 *
 * Copyright 2011, AUTHORS.txt (http://jqueryui.com/about)
 * Dual licensed under the MIT or GPL Version 2 licenses.
 * http://jquery.org/license
 *
 * http://docs.jquery.com/UI/Accordion#theming
 */
/* IE/Win - Fix animation bug - #4615 */
.ui-accordion { width: 100%; }
.ui-accordion .ui-accordion-header {  outline: none; cursor: pointer; position: relative; margin-top: 1px; margin-bottom: 0px; zoom: 1; border-top: 1px solid #E2E2E2; }
.ui-accordion .ui-accordion-li-fix { display: inline; }
.ui-accordion .ui-accordion-header-active { border-bottom: 0 !important; }
.ui-accordion .ui-accordion-header a {text-decoration: none; color: #05314A; width: 80%;  display: block; font-size: 1em; padding: .5em .5em .5em .7em; overflow: hidden; text-overflow: ellipsis; font-weight:normal;}
 .ui-accordion-header.ui-state-default a { text-decoration: none; color: #05314A; width: 80%; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
.ui-accordion-icons .ui-accordion-header a { outline: none; text-decoration:none; color: #05314A; }
.ui-accordion .ui-accordion-header .ui-icon { position: absolute; left: .5em; top: 50%; margin-top: -8px; }
.ui-accordion .ui-accordion-content { height: 35%; /*padding: 1em 2.2em;*/ border-top: 0; margin-top: -2px; position: relative; top: 1px; margin-bottom: 2px; overflow-y: auto !important; overflow-x: hidden !important; display: none; zoom: 1; }
.ui-accordion .ui-accordion-content-active { display: block; }
/*
 * jQuery UI Slider 1.8.16
 *
 * Copyright 2011, AUTHORS.txt (http://jqueryui.com/about)
 * Dual licensed under the MIT or GPL Version 2 licenses.
 * http://jquery.org/license
 *
 * http://docs.jquery.com/UI/Slider#theming
 */
.ui-slider { position: relative; text-align: left; }
.ui-slider .ui-slider-handle { position: absolute; z-index: 2; width: 1.2em; height: 1.2em; cursor: default; }
.ui-slider .ui-slider-range { position: absolute; z-index: 1; font-size: .7em; display: block; border: 0; background-position: 0 0; }

.ui-slider-horizontal { height: .8em; }
.ui-slider-horizontal .ui-slider-handle { top: -.3em; margin-left: -.6em; }
.ui-slider-horizontal .ui-slider-range { top: 0; height: 100%; }
.ui-slider-horizontal .ui-slider-range-min { left: 0; }
.ui-slider-horizontal .ui-slider-range-max { right: 0; }

.ui-slider-vertical { width: .8em; height: 100px; }
.ui-slider-vertical .ui-slider-handle { left: -.3em; margin-left: 0; margin-bottom: -.6em; }
.ui-slider-vertical .ui-slider-range { left: 0; width: 100%; }
.ui-slider-vertical .ui-slider-range-min { bottom: 0; }
.ui-slider-vertical .ui-slider-range-max { top: 0; }
a .ui-slider-handle .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default { border: 1px solid #d3d3d3/*{borderColorDefault}*/; background: #e6e6e6/*{bgColorDefault}*/ 50%/*{bgDefaultXPos}*/ 50%/*{bgDefaultYPos}*/ repeat-x/*{bgDefaultRepeat}*/; color: #555555/*{fcDefault}*/; }
.pv-filterpanel-numericslider { margin: 2px 0px 2px 0px; width: 155px; }
.pv-filterpanel-numericslider-range-val { font-style: italic; color: #9C9C9C; height:13px; }
.pv-filterpanel-numericslider-range-max { float: right; }
/* Histogram */
.pv-filterpanel-accordion-facet-chart { margin-top: 2px; }
.pv-filterpanel-accordion-facet-chart rect { stroke: white; fill: steelblue; }
/*!
 * jQuery UI Datepicker 1.10.2
 * http://jqueryui.com
 *
 * Copyright 2013 jQuery Foundation and other contributors
 * Released under the MIT license.
 * http://jquery.org/license
 *
 * http://docs.jquery.com/UI/Datepicker#theming
 */
.ui-datepicker {
	width: 17em;
	padding: .2em .2em 0;
	display: none;
}
.ui-datepicker .ui-datepicker-header {
	position: relative;
	padding: .2em 0;
}
.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next {
	position: absolute;
	top: 2px;
	width: 1.8em;
	height: 1.8em;
}
.ui-datepicker .ui-datepicker-prev-hover,
.ui-datepicker .ui-datepicker-next-hover {
	top: 1px;
}
.ui-datepicker .ui-datepicker-prev {
	left: 2px;
}
.ui-datepicker .ui-datepicker-next {
	right: 9px;
}
.ui-datepicker .ui-datepicker-prev-hover {
	left: 1px;
}
.ui-datepicker .ui-datepicker-next-hover {
	right: 8px;
}
.ui-datepicker .ui-datepicker-prev span,
.ui-datepicker .ui-datepicker-next span {
	display: block;
	position: absolute;
	left: 50%;
	margin-left: -8px;
	top: 50%;
	margin-top: -8px;
}
.ui-datepicker .ui-datepicker-title {
	margin: 0 2.3em;
	line-height: 1.8em;
	text-align: center;
}
.ui-datepicker .ui-datepicker-title select {
	font-size: 8pt;
	margin: 1px 0;
}
.ui-datepicker select.ui-datepicker-month-year {
	width: 100%;
}
.ui-datepicker select.ui-datepicker-month,
.ui-datepicker select.ui-datepicker-year {
	width: 49%;
}
.ui-datepicker table {
	width: 100%;
	font-size: 8pt;
	border-collapse: collapse;
	margin: 0 0 3px;
}
.ui-datepicker th {
	padding: .7em .3em;
	text-align: center;
	font-weight: bold;
	border: 0;
}
.ui-datepicker td {
	border: 0;
	padding: 1px;
}
.ui-datepicker td span,
.ui-datepicker td a {
	display: block;
	padding: .2em;
	text-align: right;
	text-decoration: none;
}
.ui-datepicker .ui-datepicker-buttonpane {
	background-image: none;
	margin: .7em 0 0 0;
	padding: 0 .2em;
	border-left: 0;
	border-right: 0;
	border-bottom: 0;
}
.ui-datepicker .ui-datepicker-buttonpane button {
	float: right;
	margin: .5em .2em .4em;
	cursor: pointer;
	padding: .2em .6em .3em .6em;
	width: auto;
	overflow: visible;
}
.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current {
	float: left;
}
